<!DOCTYPE html>
<html lang="kor" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>DELIVERY HOME PAGE</h1>

<p>이름: <span th:text="${#authentication.name}">?</span></p>
<p>가게명: <span th:text="${#authentication.principal.storeName}">?</span></p>
<p>역할: <span th:text="${#authentication.principal.role}">?</span></p>

<p>Authentication INFO: <span th:text="${#authentication}">?</span></p>
</body>

<script>
    const url = "http://localhost:8081/api/sse/connect";
    const eventSource = new EventSource(url);

    eventSource.onopen = event => {
        console.log("SSE Connection", event);
    }

    eventSource.addEventListener("push", event => {
        console.log("Receive Data", event);
    })
</script>
</html>
